body {
    margin: 0;
} 

#menu-section {
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px;
}

.food-item {
    display:flex;
    gap: 20px;
    border-bottom: 1px solid rgb(178, 168, 168);
}

.food-name {
    font-size: large;
}

.food-emoji {
    font-size: 50px;
    text-align: center;
}